body {
  margin: 0;
  font-family: cursive;
}

h2 {
  color: #FC8019;
}

.first-customer-section {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 100vh;
}

.dish {
  background-color: gray;
  background-image: url("../img/meal3.png");
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 6;
}

.form {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 5vh;
  margin-top: 10vh;
}

.top {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 100px;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: cursive;
  text-transform: uppercase;
  font-size: larger;
  margin-right: 30vh;
}

.access {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-start: 4;
  grid-column-end: 6;
  margin-top: 15px;
  margin-left: -80px;
}

.signup {
  color: white;
  background-color: black;
  padding: 10px 20px;
  grid-column-start: 3;
}
.signup:hover {
  cursor: pointer;
  box-shadow: black 0px 0px 5px;
}
.signup a {
  color: white;
}
.signup a:hover {
  color: white;
}

.login {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-right: 20px;
}
.login a:hover {
  color: #FC8019;
  cursor: pointer;
}

.title {
  font-size: 45px;
  font-weight: 900;
}

.sub-title {
  font-size: 25px;
  font-weight: lighter;
}

input {
  min-width: 30px;
  width: 40vw;
  height: 8vh;
  padding-left: 5vh;
  font-size: 17px;
}
input:focus {
  border: #FC8019 1px solid;
}

textarea {
  padding-left: 5vh;
  font-size: 17px;
}

.form-button {
  color: white;
  background-color: #FC8019;
  line-height: 8vh;
  margin-left: -5px;
  padding: 0px 3vh;
}
.form-button a {
  color: white;
}
.form-button:hover {
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
}
a:nth-child(even) {
  color: #a9abb2;
}
a:nth-child(odd) {
  color: #686b78;
}

.popular {
  color: #a9abb2;
  font-size: 17px;
}

.inline-form {
  display: flex;
  flex-wrap: wrap;
}

.login-form {
  text-align: center;
  margin: 70px 0;
}
.login-form h1 {
  margin: 20px 0;
}
.login-form input {
  width: 300px;
  height: 70px;
}
.login-form input:focus {
  border: #FC8019 solid 1px;
}
.login-form button {
  width: 340px;
  height: 50px;
  margin: 20px 0;
  font-family: cursive;
  color: white;
  font-weight: 700;
  background-color: #FC8019;
}
.login-form button a {
  color: white;
}
.login-form .new {
  text-align: center;
}
.login-form .new a {
  color: #FC8019;
}
.login-form .logo {
  text-align: center;
  width: 100%;
}
.login-form .logo a {
  color: #FC8019;
}

.header {
  width: 100%;
}
.header .header-logo {
  width: 35%;
  margin-top: 10px;
  color: #FC8019;
  text-align: center;
  float: left;
}
.header .header-logo a {
  color: #FC8019;
}
.header .header-menus {
  float: right;
  width: 65%;
  text-align: right;
  margin-top: 20px;
}
.header .header-menus .header-menu-list, .header .header-menus .hotlines {
  margin: 0 30px;
}
.header .header-menus .header-menu-list .cart-num, .header .header-menus .hotlines .cart-num {
  background-color: #FC8019;
  padding: 5px;
  color: white;
}
.header .header-menus .hotlines {
  color: #FC8019;
}

.main {
  width: 100%;
}
.main .left-panel {
  width: 30%;
  float: left;
  margin-top: 8px;
}
.main .left-panel p {
  width: 92.5%;
  padding-left: 30px;
  padding-top: 20px;
  height: 50px;
  border: black solid 1px;
  margin: 0;
}
.main .left-panel p:hover {
  color: #FC8019;
  cursor: pointer;
}
.main .left-panel .available {
  width: 93%;
  line-height: 60px;
  background-color: #FC8019;
  color: white;
  padding-left: 30px;
}
.main .left-panel a {
  width: 100%;
  padding-left: 30px;
  height: 50px;
  line-height: 60px;
  border: black solid 1px;
}
.main .left-panel input {
  width: 100%;
  margin: 0;
}
.main .center {
  width: 70%;
  float: right;
}
.main .center .menu-items {
  border: black solid 1px;
  border-radius: 10px;
  margin-left: 20px;
  width: 15vw;
  display: inline-block;
  height: 15vw;
  margin-bottom: 20px;
}
.main .center .menu-items .menu-items-left {
  width: 60%;
  float: left;
  padding-left: 20px;
}
.main .center .menu-items .menu-items-left input {
  width: 10%;
}
.main .center .menu-items .menu-items-right {
  width: 30%;
  float: right;
  text-align: center;
  font-size: 30px;
}
.main .center .menu-items:hover {
  cursor: pointer;
}
.main .center .menu-items:hover .food {
  color: #FC8019;
}
.main .center .menu-items .cost-order {
  width: 100%;
  margin-top: 120px;
}
.main .center .menu-items .cost-order .cost {
  width: 39%;
  float: left;
  padding-left: 10px;
}
.main .center .menu-items .cost-order .cost:hover {
  color: black;
}
.main .center .menu-items .cost-order .order {
  width: 39%;
  float: right;
  margin: 0 10px;
  border: #FC8019 dashed 1px;
  padding-left: 10px;
  color: #FC8019;
}
.main .center .menu-items .cost-order .order:hover {
  background-color: #FC8019;
  color: white;
}